    
  .parallax-container {
    height: 300px;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  div #list {
    padding: 20px;
  }
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol li {
    list-style: none;
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    list-style: none;
    content: counter(my-awesome-counter) ". ";
    color: white;
    font-weight: bold;
  }

  #toplist {
    margin: 3px;
  }
  
  #card-row {
    padding:20px;

  }

  #card-title {
    padding-top: 10px;
    padding-left: 55px;
    margin: 0;
  }




        
